#comment-box,
#post {
  border: none;
  border-radius: 5px;
}

#post:hover {
  background-color: deeppink;
}

.comment {
  &-container {
    padding: 20px;
    background: rgba(26, 26, 26, 0.5);
    box-shadow: 1px -1px 7px 0px #da966e;
    border-radius: 10px;
  }

  &-main {
    max-width: 100%;
  }

  &-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 22px;
  }

  &-box {
    border: none;
    border-radius: 5px;
    background: white;
    max-width: 700px;
    padding: 15px 30px;
    width: 100%;
    color: black;
    word-wrap: break-word;
    overflow-y: hidden;
    display: flex;
    margin: auto;

    &:focus-visible {
      outline: none;
    }

    &-post {
      margin-right: 22px;
    }
  }

  &-child {
    box-shadow: #817676 1px -6px 9px 0px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
  }

  &-image {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50px;
    }
  }

  &-username {
    font-size: 18px;
    font-weight: bold;
  }

  &-date {
    color: rgba(153, 149, 149, 0.8);
    font-size: 12px;
  }

  &-infor {
    max-width: 550px;
  }
}

@media screen and (max-width: 462px) {
  ul {
    padding: 0px !important;
  }

  .comment {
    &-child {
      padding: 8px 15px;

      gap: 10px;
    }

    &-image {
      img {
        width: 30px;
        height: 30px;
      }
    }

    &-username {
      font-size: 14px;
    }

    &-date {
      font-size: 10px;
    }

    &-infor {
      max-width: 550px;
    }

    &-text {
      font-size: 13px;
    }
  }
}
