// .filmHot {
//     position: relative;

//     &-item {

//     }

//     &-image {
//         img {
//             @include box(180px, 227px);
//             // object-fit: cover;
//             background-position-y:50px ;
//         }
//     }
//     &-name {
//         position: absolute;
//         width: 180px;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         display: -webkit-box;
//         -webkit-line-clamp: 1;
//                 line-clamp: 1; 
//         -webkit-box-orient: vertical;
//         z-index: 1;
//         color: white;
//         bottom: 0;
//         padding: 0 15px;
//         background: rgba(0, 0, 0, 0.7);
//         text-align: center;
//         height: 36px;
//         line-height: 36px;
//         font-size: 12px;
//         // left: 15px;

//     }

//     &-title {
//         font-size: 25px;
//         padding: 15px 6px;
//         color: #da966e;
//         margin-left: 20px;
//     }
// }



// .slick-next {
//     top: 0;
//     right: 35px;
// }
.filmBanner {
    &-list {
        margin-left: -32px;
        margin-top: 40px;

    }

    &-name {
        margin: 5px 0;
        color: #da966e;
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .slick-active {
        button {
            background: #da966e;
        }
    }

    .slick-dots {
        display: flex;
        display: flex;
        gap: 0 20px;
        justify-content: center;
        margin-top: 35px;
        padding: 0;

        li>button {
            color: transparent;
            width: 5px;
            height: 5px;
            border: 0;
            border-radius: 50px;

        }
    }

    .slider {
        max-width: 1110px;
        margin: 0 auto;
    }

    .slick-track {
        padding-top: 53px;
        padding-bottom: 53px;
    }

    .slick-slide {
        text-align: center;
        transition: transform 0.3s ease-in-out;
        color: transparent;

    }

    .slick-slide:not(.slick-current) {
        filter: brightness(0.5);
    }

    .slick-slide.slick-current {
        transform: scale(1.35);
        position: relative;
        z-index: 1;
    }

    .slick-slide img {
        width: 100%;
    }

}
@media screen and (max-width: 390px) {
    .filmBanner-list {
        margin-top: 0px;
    }
    .filmBanner-name {
        font-size: 15px;
    }
}
