.header {
  width: 100%;
  color: white;

  &-logo {
    margin: auto;
  }

  &-acount {
    display: none;
  }

  &-top {
    background: #333;

    // height: 80px;
  }

  &-nav {
    background: #2d2d2d;
    // height: 55px;
    padding: 10px 0;
  }

  &-top {
    // @include flex-center-column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;

    &-container {
      // @include flex-spacebetween;
      // align-items: center;
      display: grid;
      grid-template-columns: 3fr 6fr 3fr;

      gap: 25px;
    }
  }

  &-auth {
    display: flex;
    width: 100%;
    //@include flex-center-vert;
    align-items: center;
    gap: 0 10px;
    justify-content: flex-end;

    &-work {
      display: flex !important;
      flex-direction: row;
    }
  }

  &-right {
    display: flex;
    gap: 0 30px;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
  }

  // &-account {
  //   margin: 0 0 0 20px;

  //   &-name {
  //     img {
  //       border: 2px solid #da966e;
  //       border-radius: 50px;
  //       margin-right: 5px;
  //       background: white;
  //       padding: 3px;
  //     }
  //   }
  // }

  &-bookmark {
    margin: auto;
  }

  // .search-input {
  //     border-radius: 3px;
  //     width: 400px;
  //     padding: 5px 25px;
  //     border: none;
  //     outline: none;
  // }
  .form__group {
    padding: 16px 0;
    // margin-top: 10px;
    width: 100%;
  }

  .search-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 15px;
    color: white;
    padding: 7px 10px;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
      font-size: 16px;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 16px;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
    padding-left: 15px;
  }

  &-name {
    position: relative;
    display: flex;
    gap: 15px;

    .dropdown-menu {
      position: absolute;
      width: 148px;
      height: 90px;
      background: white;
      color: black;
      top: 0;
    }

    .dropdown-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &:hover .dropdown-menu {
      display: block;
    }
  }

  &-nav {
    cursor: pointer;
    flex-wrap: wrap;

    &-tv,
    &-movie,
    &-homepage {
      font-weight: bold;

      &:hover {
        color: #da966e;
      }
    }

    &-item {
      cursor: pointer;

      &--genres,
      &--country,
      &--date {
        &:hover {
          color: #da966e;
        }
      }
    }

    &-genres,
    &-country,
    &-date {
      display: none;
      background: black;
      position: absolute;
      // display: flex;
      flex-direction: column;
      z-index: 10000;
      gap: 30px;
      overflow: auto;
      //box-shadow: rgb(0 0 0 / 20%) -16px -20px 16px 0px;
      box-shadow: black;
      z-index: 1000;

      background: rgb(46, 44, 44);
      padding: 20px;

      &--movie_list,
      &--tv_list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        span {
          grid-column: 1/6;
        }
      }

      &--movie_item,
      &--tv_item {
        font-size: 15px;
        color: white;
      }
    }

    &-item--date:hover &-date {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      right: 50px;
      gap: 20px;

      a {
        width: 100%;
      }
    }

    &-item--genres:hover &-genres {
      display: block;
      color: #da966e;

      a {
        width: 100%;
      }
    }

    &-item--country:hover &-country {
      display: block;

      a {
        width: 100%;
      }
    }

    display: flex;
    align-items: center;

    &-container {
      margin: 15px;
      font-size: 18px;
    }

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    &-title {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &-top {
      &-container {
        gap: 10px 25px;
        padding: 20px 10px;
      }
    }

    &-account {
      // display: none;
      // font-size: 30px;
      // position: absolute;

      &-name {
        img {
          width: 40px !important;
          height: 40px !important;
        }
      }
    }

    &-bookmark {
      width: 88px;
      display: none;
    }
    &-register,
    &-login {
      width: 78px;
      text-align: center;
      opacity: 0.3;
      margin-bottom: 10px;
    }

    &-right {
      padding: 0;
      display: block;
      order: 1;
      grid-column: 3/4;
    }

    &-logo {
      grid-column: 1/4;
      order: 2;

      img {
        max-width: 223px;
      }
    }

    &-top {
      // height: 160px;
      &-container {
        padding: 0 10px 20px 10px;
      }
    }

    .form__group {
      order: 3;
      grid-column: 1/4;
    }

    .search-input {
      &:placeholder-shown ~ .form__label {
        top: 140px;
      }
    }

    .form__label {
      top: 120px;
    }

    &-nav {
      &-item--date:hover &-date {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        right: 4%;
        gap: 20px;

        a {
          width: 100%;
        }
      }

      &-genres {
        top: 43px;
        left: 73px;

        &--movie,
        &--tv {
          &_item {
            font-size: 13px;

            a {
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }

      padding: 2px 0;

      ul {
        padding-left: 10px;
      }

      &-country {
        padding: 1;
      }

      // height: 120px;
      &-list {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
      }

      &-title,
      &-homepage {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .header-logo {
    img {
      display: none;
    }
  }

  .header {
    &-nav {
      &-list {
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .header {
    &-nav {
      &-country {
        width: 100%;
        left: 0;
        text-align: center;
      }

      &-date {
        width: 100%;
        right: 0;
      }

      &-genres {
        width: 100%;
        left: 0;

        &--movie,
        &--tv {
          &_list {
            span {
              grid-column: 1/4;
            }

            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }
}
