.auth {
    a {
        color: black !important;
    }

    height: 100vh;
    margin-right: -0px !important;
    margin-right: 0px !important;

    .row {
        padding: 0 !important;

    }

    .sidenav {
        position: relative;
    }

    .main {
        background: white;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        // bottom: 0;
        position: fixed;
        right: 0;
        z-index: 3;
    }

    .btn-auth {
        display: flex;
        gap: 0 15px;
        margin: 15px 0px;

    }

    .btnLogin,
    .btnSigup {
        // border-bottom: 1px solid black;
        padding: 10px 0;
        
        
    }

    .btnLogin {
        border-bottom: 1px solid black;
    }

    .marverl {
        max-width: 468px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .logo {
        position: absolute;
        transform: translate(-54px, 38px);
        right: 0;
        z-index: 2;
    }

    .animation-spiderman {
        position: absolute;
        top: 0;
        right: 15px;
        z-index: 15;
        img {

            width: 100px;

        }
    }

    .login-form,
    .register-form {
        color: black;
        form {
            padding: 20px 10px;

        }

        .login-title {
            font-size: 30px;
            font-weight: bold;
            color :black !important ;
        }

        .login-content {
            font-size: 11px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        .register-page {
            font-size: 14px;
            text-align: center;
            margin-top: 10px;

            a {
                font-weight: bold;
            }
        }
    }

}

// .error-username,
// .error-password,
// .error-email,
// .error-fullname,
// .error-phone,
// .error-confirmPassword {
//     display: block;
// }

.forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}

// btn 
#btnLogin,#btnSigup
#btnRegister {
    margin-top: 10px;
    width: 100%;
    background: #ff9658 !important;
    color: white;
    font-weight: bold;
}
.login-main-image {
    z-index: 15;
}
// register