.watch {
  margin-top: 25px;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &-title {
    font-size: 30px;
    font-weight: bold;
  }

  &-infor {
    position: relative;
    max-width: 510px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-watch,
  &-overview,
  &-vote_average,
  &-date,
  &-runtime {
    font-size: 15px;
    color: rgba(132, 132, 132, 1);

    span {
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
  }

  &-interac {
    font-size: 20px;
    display: flex;
    gap: 25px;
    position: absolute;
    bottom: 0;
  }
  &-genres {
    width: 130px;
    text-align: center;
    padding: 10px;
    background: rgba(147, 73, 73, 0.8);
    border-radius: 27px;
    font-size: 13px;
    font-weight: bold;
  }
  .bookmark,
  .like,
  .share {
    cursor: pointer;
    font-weight: 400;

    i {
      margin-right: 10px;
    }
  }
  &-main {
    &-container {
      display: grid;
      margin: 20px 0;
      // grid-template-columns: 8fr 4fr;
    }
  }
}

.watchs-genres {

  &-list {
      display: grid;
      grid-template-columns: reapeat(auto-fit, 300px);
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 20px;
      justify-content: center;

  }
  
  &-title {
      font-size: 30px;
      font-weight: bold;
      margin: 30px;
  }

}

@media screen and (max-width: 900px) {
  .watch {
    &-iframe,
    &-infor {
      grid-column: 1/3;
      margin: auto;
      order: 2;
    }
    &-infor {
      padding: 0 0 50px;
      order: 1;
    }
  }
}
@media screen and (max-width: 637px) {
  .watch-iframe {
    iframe {
      width: 450px;
      height: 240px;
    }
  }
}
@media screen and (max-width: 462px) {
  .watch-iframe {
    iframe {
      width: 350px;
      height: 180px;
    }
  }
}
