<div class="mt-4">
  <h3 style="width: 80%; margin:50px 0 0 22% ;">Thêm phim mới</h3>

  <form class="row g-3" method="POST" action="/movies/store" style="width: 80%; margin:50px 0 0 22% ;">
    <div class="col-5" >
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="id" placeholder="ID" name="id">
      <label for="id">ID</label>
    </div>
  </div>
  <div class="col-5">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="title" placeholder="Tên phim" name="title">
      <label for="title">Tên phim</label>
    </div>
  </div>
  <div class="col-5">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="original_title" placeholder="Tên gốc phim" name="original_title">
      <label for="title">Tên gốc phim</label>
    </div>
  </div>
  <div class="col-5">
    <div class="form-group">
      <label for="release_date">Năm sản xuất:</label>
      <select
        class="year-select"
        id="year-select"
        name="release_date"
        aria-label="Default select example"
      >
        <option value="">-- Chọn năm --</option>
      </select>
      
    </div>
  </div>
  <div class="col-10">
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Nội dung" id="overview" name="overview" style="height: 200px"></textarea>
      <label for="overview">Nội dung</label>
    </div>
  </div>
  <div class="col-10 d-grid" style="margin-left:5px ;">
    <button class="btn btn-primary" type="submit">Thêm phim</button>
  </div>
  </form>
</div>

<script>
  const startYear = 1900; 
  const endYear = new Date().getFullYear(); 
  const select= document.getElementById("year-select"); 
  for (let year = endYear; year >=startYear; year--) { 
    const option = document.createElement("option");
    option.value = year; 
    option.text = year; select.add(option); 
    }
</script>