<footer class="footer">
            <div class="container">
              <div class="footer-container">
                 
                  <div class="footer-content"> 
                    <div class="footer-logo">
                    <img src="/img/logoo.png" />
                    <div class="author">
                      Người thực hiện:
                         <div> Sĩ Cường</div>
                         <div> Thực tập tại HUECIT - Huế</div>
                       </div>
                    </div>

                      <div class="phim-moi">
                        <div class="phim-moi-title">
                          Phim mới
                        </div>
                        <ul class="phim-moi-list">
                          <li class="phim-moi-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-moi-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-moi-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-moi-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-moi-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-moi-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-moi-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                        </ul>
                      </div>
                      <div class="phim-hay">
                        <div class="phim-hay-title">
                          Phim hay
                        </div>
                        <ul class="phim-hay-list">
                          <li class="phim-hay-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-hay-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-hay-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-hay-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                           <li class="phim-hay-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                           <li class="phim-hay-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                           <li class="phim-hay-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                        </ul>
                      </div>
                      <div class="phim-hot">
                        <div class="phim-hot-title">
                          Phim hot
                        </div>
                        <ul class="phim-hot-list">
                          <li class="phim-hot-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-hot-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-hot-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                          <li class="phim-hot-item">
                            <a href="">Phim chiếu rạp</a>
                          </li>
                        </ul>
                      </div>
                      <div class="help">
                        <div class="help-title">
                          Trợ giúp
                        </div>
                        <ul class="help-list">
                          <li class="phim-hot-item">
                            <a href="">Hỏi đáp</a>
                          </li>
                          <li class="help-item">
                            <a href="">Liên hệ</a>
                          </li>
                          <li class="help-item">
                            <a href="">Tin tức</a>
                          </li>
                          
                        </ul>
                      </div>
                      <div class="infor">
                        <div class="infor-title">
                          Thông tin
                        </div>
                        <ul class="infor-list">
                          <li class="infor-item">
                            <a href="">Điều khoản sử dụng</a>
                          </li>
                          <li class="infor-item">
                            <a href="">Chính sách riêng tư</a>
                          </li>
                          <li class="infor-item">
                            <a href="">Khiếu nại bản quyền</a>
                          </li>
                         
                          <li class="infor-item">
                              @2023 SI CUONG 
                          </li>
                        </ul>
                      </div>
                  </div>
              </div>
            </div>
        </footer>