<header>
  <section class="header">
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="header-top-container">
            <div class="header-logo">
              <a href="/"> <img src="/img/logoo.png" /></a>
            </div>
            <div class="form__group field">
              <input
                type="input"
                class="search-input"
                placeholder="Tìm kiếm"
                name="search"
                id="name"
                required
              />
              <label for="name" class="form__label">Nhập tên phim cần tìm</label>
            </div>
            <!-- <input type="text" placeholder="Search" class="search-input"> -->

            <div class="header-acount">
              <i class="fas fa-bars"></i>

            </div>
            <div class="header-right">
                {{#if user}}
                 <div class="dropdown">
                  <i class="fa-solid fa-angle-down dropbtn"></i>

                  <div id="myDropdown" class="dropdown-content">
                    <div class="account-name">
                      {{user}}
                    </div>
                    <a href="/user/info"><div> Tài khoản</div></a>
                    <a href="/auth/logout"><div class="header-logout">
                      Đăng xuất
                    </div></a>
                  </div>
                </div>
                {{else}}
              <div class="header-auth">
                <div class="header-login">
                  <a href="/auth/signin" class="login" class="btnLogin">
                    Đăng nhập
                  </a>
                </div>
                <div class="header-register">
                  <a href="/auth/signup" class="register" class="btnRegister">
                    Đăng ký
                  </a>
                </div>

                {{/if}}
          

              </div>
              <div class="header-auth-work" style="display:none !important">
                <div class="header-bookmark">
                  <i class="fa-solid fa-bookmark"></i>
                  Bookmark
                </div>
                <div class="header-account">
                  <div class="header-account-name">
                    <img
                      src="/img/logoo.png"
                      style="width:50px ; height:50px"
                      alt=""
                    />
                  </div>
                </div>

                {{!-- <div class="dropdown">
                  <i class="fa-solid fa-angle-down dropbtn"></i>

                  <div id="myDropdown" class="dropdown-content">
                    <div class="account-name">

                    </div>
                    <div> Tài khoản</div>
                    <div> Cài đặt</div>
                    <div> Trợ giúp</div>
                    <div class="header-logout" onclick="signOut()">
                      Đăng xuất

                    </div>
                  </div>
                </div> --}}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="container">
        <div class="header-nav-container">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a href="/">
                <span class="header-nav-homepage"> TRANG CHỦ</span>
              </a>
            </li>
            <li class="header-nav-item--genres">
              <div class="header-nav-title">
                THỂ LOẠI
              </div>
              <ul class="header-nav-genres">
                <li class="header-nav-genres--phimle">
                  <ul class="header-nav-genres--movie_list">
                    <span> Phim lẻ</span>
                  </ul>
                </li>
                <li class="header-nav-genres--phimbo">
                  <ul class="header-nav-genres--tv_list">
                    <span>Phim bộ</span>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="header-nav-item--country">
              <div class="header-nav-title">
                QUỐC GIA
              </div>
              <ul class="header-nav-country">

              </ul>
            </li>
            <li class="header-nav-item--movie">
              <div class="header-nav-title">
                <a href="/search?category=tv">
                  <span class="header-nav-tv"> PHIM BỘ</span>
                </a>
              </div>

            </li>
            <li class="header-nav-item--tv">
              <div class="header-nav-title">
                <a href="/search?category=movie">
                  <span class="header-nav-movie"> PHIM LẺ</span>
                </a>
              </div>
              <ul class="header-nav-tv-show">

              </ul>
            </li>
            <li class="header-nav-item--date">
              <div class="header-nav-title">
                NĂM SẢN XUẤT
              </div>
              <ul class="header-nav-date">

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>

<script>
  const date = new Date();

  const isoCountry = [
    {
      name: "Việt Nam",
      iso: "vi",
    },
    {
      name: "Thái Lan",
      iso: "th",
    },
    {
      name: "Hàn Quốc",
      iso: "ko",
    },
    {
      name: "Nhật Bản",
      iso: "ja",
    },
    {
      name: "Mỹ ",
      iso: "en",
    },
    {
      name: "Trung Quốc",
      iso: "cn",
    },
    {
      name: "Ấn Độ",
      iso: "te",
    },
    {
      name: "Hồng Kông ",
      iso: "te",
    },
    {
      name: "Nga ",
      iso: "ru",
    },
    {
      name: "Pháp ",
      iso: "eu",
    },
  ];
    const api_key = "3a26bb11393110f07519c6cd79b223c8";
    const apiMovieGener = (category) =>
    `https://api.themoviedb.org/3/genre/${category}/list?api_key=${api_key}&language=vi`;

    const getGenre =async (category)=>{
      var respose = await   fetch(apiMovieGener(category));
      var data = await respose.json();
      data.genres.map((genres, index) => {
      let navGenres = document.querySelector(
        `.header-nav-genres--${category}_list`
      );

      let item = document.createElement("li");
      item.setAttribute("class", `header-nav-genres--${category}_item`);
      item.innerHTML = `
        <a href="/search?category=${category}&genres=${genres.name}-${
        genres.id
      }&page=1">
            ${
              genres.name.slice(0, 12) == "Chương Trình"
                ? "CT " + genres.name.slice(13)
                : genres.name.slice(0, 4) == "Phim"
                ? genres.name.slice(5)
                : genres.name
            }
         
        </a>  
    `;
      navGenres.appendChild(item);
    });
   }
  getGenre("movie");
  getGenre("tv");

   const getCountry = () => {
    const navCountry = document.querySelector(".header-nav-country");

    isoCountry.map((country, index) => {
      const countryItem = document.createElement("li");
      countryItem.setAttribute("class", "header-nav-country--item");
      countryItem.innerHTML = `
        <a href="/search?country=${country.name}-${country.iso}">
        ${country.name}
        </a>
      `;
      navCountry.appendChild(countryItem);
    });
  };
  getCountry();

  const getDate = (date) => {
    const navDate = document.querySelector(".header-nav-date");
    for (var i = 0; i < 40; i++) {
      const dateItem = document.createElement("li");
      dateItem.setAttribute("class", "header-nav-date--item");
      dateItem.innerHTML = `
        <a href="/search?release=${date - i}&page=1">
           ${date - i}
        </a>
      `;
      navDate.appendChild(dateItem);
    }
  };
  getDate(date.getFullYear());
</script>

<script> 
  document.addEventListener('DOMContentLoaded', function () {
    $(".search-input").on("keypress", function () {
    if(event.key === "Enter") {
      var value = $(this).val().toLowerCase();
      window.location.href = `/search?results=${value}`
    }
  
    });
});
</script>

{{!-- <script>
  window.addEventListener('load', () => {
    fetch('http://localhost:3001/auth/login')
      .then(res => res.json())
      .then(data => {
        console.log(data);
        if (data.user.status === 'success') {
          const name = data.user.name;

          document.querySelector('header-auth').innerHTML = `
            <div class="dropdown">
                  <i class="fa-solid fa-angle-down dropbtn"></i>

                  <div id="myDropdown" class="dropdown-content">
                    <div class="account-name">
                      ${name}
                    </div>
                    <div> Tài khoản</div>
                    <div class="header-logout" onclick="signOut()">
                      Đăng xuất
                    </div>
                  </div>
                </div>
          `;
        }
      })
      .catch(error => console.log(error));
});
</script> --}}
